@media screen and (max-width:991px) {

  [class="row mt-4 text-center"] {
    display: none;
  }

  /* .w-100{
    width: 40% !important;
  } */

}

@media screen and (min-width:991px) {
  .logo1 {
    display: none;
    margin-left: 0px;
  }
}

.input_img {
  background: url(../image/icon_search.png) no-repeat 95% center;
  background-size: 10%;
  border-radius: 1rem;
  outline: none;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1)
}

.tab-content>.active {
  display: flex;
}

.list-group-item {
  border: none;

}

.list-group-item a {
  color: #333;
  font: 1rem "微软雅黑"
}

.carousel-indicators li {
  width: 40px;
  height: 4px;
  background-color: rgba(9, 9, 9, 0.1);
  margin-left: 6px;
  margin-right: 6px;
  /* border-radius: 50%; */
}

.carousel-indicators .active {
  background-color: orange;
}

.carousel-control-prev,
.carousel-control-next {
  width: 4%;
  height: 20%;
  background-color: rgba(9, 9, 9, 0.1);
  top: 40%;
  border-radius: 0.25rem;
}

.border-bottom-orange {
  border-bottom: 1px solid orange
}

.container-fluid {
  padding: 0px;
}

.gouzi {
  margin-left: 0px;
}

.f1-right {
  width: 300px;
  height: 300px;
}

.f1-right img {
  width: 100%;
  height: 100%;
}

.f2 {
  position: relative;
}

.position-absolute {
  top: 43%;
  left: 16%;
}

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.abtn {
  display: block;
  width: 10rem;
  height: 3rem;
  border: 1px solid #333;
  line-height: 3rem;
  text-align: center;
  list-style: none;
  color: #333;
  transition: all 0.1s;
  margin: auto;
}



@keyframes anim-out {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}


.abtn:hover {

  box-shadow: 0px 1px 1px #063e6b;
  animation: rubberBand 0.5s;
  text-decoration: none
}

a.imgscla img:hover {
  transition: 10px 1s linear 2s;
}

[class="col-md-5 col-sm-12 f1-right"]>a>img:hover {
  transform: scale(1.05);
  border: 0.5px solid #063e6b;
  border-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 5px 0px;
  transition: all .4s;
  opacity: 0.7;
}

.d-flex>li>a>img:hover {
  transform: scale(1.05);
  border: 0.5px solid #063e6b;
  border-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 5px 0px;
  transition: all .4s;
  opacity: 0.7;
  margin-top: 20px
}

div.container-fluid:nth-child(7)>div:nth-child(1)>p:nth-child(1) {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
}

div.container-fluid:nth-child(7)>div:nth-child(1)>p:nth-child(2) {
  font-size: 26px;
  color: #fff;
}

div.container-fluid:nth-child(7)>div:nth-child(1)>a:nth-child(3) {
  font-size: 14px;
  color: #fff;
  border-color: #fff
}